
  <p id="notice"><%= notice %></p>

  <h1>User Tasks</h1>

  <%= link_to 'New User Task', new_user_task_path, remote: true, class: 'btn btn-info' %>

  <br><br>

  <div id="task-form">

  </div>

<% if !@user_tasks.empty? %>

  <div id="tasks">
    <%= render @user_tasks %>
  </div>
  <br>

<% else %>

  <div class="text-center">
    <%= image_tag("bored.png", size: "200" ) %>
    <h4>Nothing left to do.  Please enter new tasks.</h4>
  </div>

<% end %>

<%= paginate @user_tasks %>